/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-mei-2014, 20:29:20
    Author     : kevin
*/

#wrapper {
    width: 600px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: solid black;
}
